.part1{
    height: 200px;
    background-color: black;
    color: rgb(249, 240, 255);
}
#name{
    color: rgb(0, 255, 119);
}
.part2{
    height: fit-content;
    background-color:rgb(0, 208, 255);
    color: yellow;
}
.part3{
    height: max-content;
    background-color: rgb(65, 225, 126);
    color: yellowgreen;
}
.part4{
    height: fit-content;
    background-color:red;
    color: aqua;
}